# unconventional js
/blueprints/*/files/

# compiled output
/dist/
/dist-tests/

# misc
/coverage/
!.*
.*/
/pnpm-lock.yaml
ember-cli-update.json
*.html

/tests/helpers/board-api-contract.json
/app/data/api.ts
/tests/helpers/thread-phases.ts
